doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  // Boxicons
  link(href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet')
  // Font Awesome
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
  // Swiper js
  link(rel='stylesheet' href='https://unpkg.com/swiper/swiper-bundle.min.css')
  // Custom StyleSheet
  link(rel='stylesheet' href='/styles.css')
  title RentCA ComIT Project
  link(rel='icon' type='image/x-icon' href='/images/favicon.ico')
// Header
header#header.header
  .navigation
    .nav-center.container.d-flex
      a.logo(href='/index')
        h1 RentCA
      ul.nav-list.d-flex
        li.nav-item
          a.nav-link(href='/index') Home
        li.nav-item
          a.nav-link(href='/about') About Us
        li.nav-item
          a.nav-link(href='/properties') Properties
        li.nav-item
          a.nav-link(href='/contact') Contact
        li.nav-item
          a.nav-link(href='/signup') Sign Up
      .hamburger
        i.bx.bx-menu-alt-left
  .hero
    .swiper-container.heroslider
      .swiper-wrapper
        .swiper-slide
          img(src='/images/pic1.jpg' alt='')
        .swiper-slide
          img(src='/images/pic2.jpg' alt='')
        .swiper-slide
          img(src='/images/pic5.jpg' alt='')
        .swiper-slide
          img(src='/images/pic6.jpg' alt='')
      .swiper-button-next
        i.bx.bx-chevron-right.swiper-icon
      .swiper-button-prev
        i.bx.bx-chevron-left.swiper-icon
  .content
    h1 Find your dream home
    .search
      input(type='text' placeholder='Type Address, City, State')
      a(href='') Search
section.section.rent
  .title
    h1 Properties For Rent
    p
      | Search over 2000 properties to rent from the top agents in the country
  .rent-center.container
    .box
      .top
        .overlay
          img(src='/images/pic1.jpg' alt='')
      .bottom
        p Luxury villa in Vancouver
        div
          span $700
          span
            i.far.fa-eye
    .box
      .top
        .overlay
          img(src='/images/pic2.jpg' alt='')
      .bottom
        p Luxury villa in Calgary
        div
          span $700
          span
            i.far.fa-eye
    .box
      .top
        .overlay
          img(src='/images/pic3.jpg' alt='')
      .bottom
        p Luxury villa in Edmonton
        div
          span $700
          span
            i.far.fa-eye
    .box
      .top
        .overlay
          img(src='/images/pic4.jpg' alt='')
      .bottom
        p Luxury villa in Victoria
        div
          span $700
          span
            i.far.fa-eye
    .box
      .top
        .overlay
          img(src='/images/pic5.jpg' alt='')
      .bottom
        p Luxury villa in Sidney
        div
          span $700
          span
            i.far.fa-eye
    .box
      .top
        .overlay
          img(src='/images/pic6.jpg' alt='')
      .bottom
        p Luxury villa in Las Vegas
        div
          span $700
          span
            i.far.fa-eye
    .box
      .top
        .overlay
          img(src='/images/pic2.jpg' alt='')
      .bottom
        p Luxury villa in Miami
        div
          span $700
          span
            i.far.fa-eye
    .box
      .top
        .overlay
          img(src='/images/pic5.jpg' alt='')
      .bottom
        p Luxury villa in Montreal
        div
          span $700
          span
            i.far.fa-eye
// Grid
section.section.grid-layout
  .title
    h1 Popular Properties
  .wrapper.container
    .box.box1
      img(src='/images/pic4.jpg' alt='')
    .box.box2
      img(src='/images/vert3.jpg' alt='')
    .box.box3
      img(src='/images/pic1.jpg' alt='')
    .box.box4
      img(src='/images/pic3.jpg' alt='')
// Contact
section.section.contact
  .row
    .col
      h2 EXCELLENT SUPPORT
      p
        | We love our customers and they can reach us any time of day we will
        | be at your service 24/7
      a.btn.btn-1(href='/contact') Contact
    .col
      form(action='')
        div
          input(type='email' placeholder='Email Address')
          a(href='') Send
section.section.rent
  .title
    h1 Discover Our Featured Listings
    p
      | These featured listings contain exclusive real estate opportunities
      | within the city
  .rent-center.container
    .box
      .top
        .overlay
          img(src='/images/pic2.jpg' alt='')
      .bottom
        p Luxury villa in Calgary
        div
          span $700
          span
            i.far.fa-eye
    .box
      .top
        .overlay
          img(src='/images/pic4.jpg' alt='')
      .bottom
        p Luxury villa in Edmonton
        div
          span $700
          span
            i.far.fa-eye
    .box
      .top
        .overlay
          img(src='/images/pic5.jpg' alt='')
      .bottom
        p Luxury villa in Montreal
        div
          span $700
          span
            i.far.fa-eye
    .box
      .top
        .overlay
          img(src='/images/pic1.jpg' alt='')
      .bottom
        p Luxury villa in Victoria
        div
          span $700
          span
            i.far.fa-eye
// Footer
footer.footer
  .row
    .col.d-flex
      h4 INFORMATION
      a(href='/about') About us
      a(href='/contact') Contact Us
      a(href='/properties') Properties
      a(href='/signup') Sign up or sign in!
    .col.d-flex
      h4 USEFUL LINK
      a(href='') Online Store
      a(href='') Customer Services
      a(href='') Promotion
      a(href='') Top Brands
    .col.d-flex
      a.footer-btn(href='https://www.facebook.com')
        i.bx.bxl-facebook-square
      a.footer-btn(href='https://www.instagram.com')
        i.bx.bxl-instagram-alt
      a.footer-btn(href='https://www.github.com/davidmorab' )
        i.bx.bxl-github
      a.footer-btn(href='https://www.twitter.com')
        i.bx.bxl-twitter
script(src='https://unpkg.com/swiper/swiper-bundle.min.js')
script(src='/js/slider.js')
script(src='/js/index.js')
